@use '../base';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: base.$primary-color;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1;

  .brand {
    color: base.$light-background-color;
    font-size: 28px;
    font-weight: bold;
    font-family: cursive;
  }

  .nav-buttons {
    display: flex;

    button {
      background-color: base.$secondary-color;
      color: base.$light-background-color;
      border: none;
      padding: 10px 20px;
      margin-left: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: base.$button-hover-color;
      }
    }
  }
}