@use '../base';

.card {
  background-color: base.$light-background-color;
  color: base.$text-color;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: base.$border-radius;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  h3 {
    text-align: left;
    margin: 0;
    margin-bottom: 0.5em;
  }

  .item {
    display: flex;
    border: solid;
    padding: 0.5em;
    border-width: 0 0 1px 0;
    border-color: base.$background-color-hover;
    margin: -1px;

    &:hover {
      background-color: base.$background-color-hover;
      border-radius: base.$border-radius;
    }

    .circle-number {
      width: 30px;
      height: 30px;
      padding-top: 5px;
      border: 1px solid base.$text-color;
      border-radius: 50%;
      text-align: center;
      box-sizing: border-box;
    }

    .details {
      flex: 1;
      padding: 0 1em;
      text-align: left;

      h4 {
        margin: 0;
        margin-bottom: 0.5em;
      }

      p {
        margin: 0;
      }
    }
  }
}

.card-stay {
  @extend .card;
  border: solid;
  border-width: 5px;
  border-color: base.$accent-color;
  position: relative;

  .tag {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 2px 7px 7px;
    border-radius: 0 0 0 base.$border-radius;
    background-color: base.$accent-color;
    color: base.$light-background-color;
  }
}