
$background-color2: #a5afaf;
$light-background-color2: #ebeff3;
$background-color-hover: #cbd3d3;

$brand-color: #2972da;
$accent-color: #507DBC;
$warning-color: #C12D0B;

$text-color: #494949;
$light-text-color: #eeeeee;