
$background-color2: #a6b8b8;
/* Gray */
$light-background-color2: #E9F1F7;
/* Alice Blue */
$accent-color: #507DBC; /* Dark Red */
$background-color: #ada5a4;
/* Light Gray */
$light-background-color: #da5432;
/* Very Light Gray */
$warning-color: #C12D0B; /* Red */
$button-hover-color: #ae280a; /* Light Blue */
$text-color: #333;
$light-text-color: #eeeeee;