
/* Color Palette */
:root {
  --primary-color: #ae280a; /* Dark Red */
  --secondary-color: #e1b67a; /* Light Brown */
  --accent-color: #059e85; /* Teal */
  --background-color: #d8d7d7; /* Light Gray */
  --light-background-color: #f5f5f5; /* Very Light Gray */
  --button-hover-color: #73b1cf; /* Light Blue */
}
