
/* Color Palette */
:root {
  --primary-color: #989E9E; /* Gray */
  --secondary-color: #E9F1F7; /* Alice Blue */
  --accent-color: #507DBC; /* Dark Red */
  --background-color: #ae280a; /* Light Gray */
  --light-background-color: #ae280a; /* Very Light Gray */
  --warning-color: #C12D0B; /* Red */
  --button-hover-color: #ae280a; /* Light Blue */
  --text-color: #333; /* Dark Gray */
}
