/* src/NavigationBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar .brand {
  color: var(--light-background-color);
  font-size: 24px;
}

.navbar .nav-buttons {
  display: flex;
}

.navbar .nav-buttons button {
  background-color: var(--secondary-color);
  color: var(--light-background-color);
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar .nav-buttons button:hover {
  background-color: var(--button-hover-color);
}
